<h2><?php echo __('Congratulation!');?></h2>
<?php echo __('You have successfully installed mooSocial!');?><br />
<a href="<?php echo $this->request->base?>/"><?php echo __('Click here');?></a> <?php echo __('to go to the homepage');?>
