<div class="portlet-body">
    <div class=" portlet-tabs">
        <div class="tabbable tabbable-custom boxless tabbable-reversed">
            <ul class="nav nav-tabs list7 chart-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#portlet_tab1">
                        <?php echo __( "General");?>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#portlet_tab2">
                        <?php echo __( "Menu");?>
                    </a>
                </li>
            </ul>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-12">
                    <div class="tab-content">
                        <div class="tab-pane active" id="portlet_tab1">
                            Example Content 1
                        </div>
                        <div id="portlet_tab2" class="tab-pane">
                            Example Content 2
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
