<div style="margin-top: 15px;" class="alert alert-info" role="alert">
	<p><a target="_blank" href="https://www.moosocial.com/wiki/doku.php?id=admin_dashboard:system_admin:system_settings:create_paypaladaptiveapi"><?php echo __('How to setup PayPal Adaptive')?></a></p>
</div>