body {
    /*font-family: 'Roboto', sans-serif;*/
    font-size: 13px;
    margin: 0;
    background: #e9e9eb;
    color: #333333;
    line-height: 1.3;
    padding-top:50px;
    font-weight: 400;
    word-wrap: break-word;
}
a {
    color: #247BBA;
    text-decoration:none;
    outline: 0;
}
a:hover {
    text-decoration: underline;
}
a:hover, a:active, a:focus {
   outline: 0;
}
i:hover { text-decoration:none; }
img {
    border: none;
} 
h1 {
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 22px;
    color: #3E3E3E;
}
h2 {
    color: #5F5F5F;
    margin: 0px 0 10px 0;
    padding: 0 0 3px;
    font-size: 16px;
}
h4 {
    border-top: 1px solid #D0E2ED;
    margin: 10px 0;
    padding: 5px 0 0;
    clear: both;
}
h4 a {
    color: #333333;
}
form {
    padding: 0;
    margin: 0;
}
input, textarea, select {
    padding: 5px 6px 6px 6px;
    margin: 0;
    border: 1px solid #ccc;	
}
select {
    padding: 4px 6px 5px 6px;
}
input[type="text"], input[type="password"], textarea {
    /*width: 240px;*/
    /*box-shadow: inset 0 1px 0 #eee,#fff 0 1px 0;*/
}
textarea {
    height: 80px;
    overflow: auto;
    /*width: 300px;*/

}
input:focus, textarea:focus, select:focus {
    border: 1px solid #56b4ef;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
}

input[type="checkbox"], input[type="radio"] {
    border: 0;
    vertical-align: middle;
    margin: 0;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding-left:0;
    padding-right:0;	

}