.compare-table{
	max-width: 980px;
	margin: 0 auto;
	text-align:center;
	vertical-align: top;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;	
}
.compare-item{
	  display: inline-block;
	  width: 33%;
	  text-align: center;
	  box-sizing: border-box;
	  padding: 1%;
	 vertical-align: top;
	 white-space: normal;	 
}
.compare-item .content{
	border:1px solid #dfdfdf;
	border-radius: 4px!important;
	box-sizing:border-box;
	padding: 30px 40px 100px 40px;
	font-size: 14px;
	position:relative;
}
.compare-item .content.plan-recommend{
	border: 1px solid #EC6B54;
}
.form_gateway p
{
	padding-top:4px;
}

.plan-recommend{
	position:relative;
}
.recommend-label{
	  position: absolute;
	  font-size: 11px;
	  background: #f00;
	  padding: 3px 7px;
	  color: #fff;
	  right: 0;
	  top: 15px;
}
.compare-item .action{
	  position: absolute;
	  bottom: 50px;
	  text-align: center;
	  left: 0;
	  right: 0;
}
ul.description{
	list-style:none;
	padding:0;
	margin:0;
	text-align: center;
	  white-space: normal;
}
ul.description li {
  margin-bottom: 10px;
  text-align: left;
}
.compare-item .content .title{
	  font-size: 16px;
	  margin-bottom: 10px;
}
.compare-item .content .info{
	font-size: 14px;
	line-height: 20px;
}
.compare-item .content .info span{
	font-size:30px;
}
.compare-item .content select{
	  margin-top: 20px;
	  margin-bottom: 20px;
	  height: 30px;
	  width: 100%;
}
.package-btn a,
.action a{
	font-size: 14px;
  background: #FD7122;
  color: #fff;
  display: inline-block;
  line-height: 40px;
  padding: 0 35px;
  border-radius: 4px;
  text-decoration: none;
  border: 1px solid #CE5D31;
    margin-top: 20px;
}
.table-compare{
	clear: both;
	  max-width: 980px;
	  margin: 0 auto;
	  overflow-x: auto;
}
.table-compare table{
	table-layout: fixed;
	  border-collapse: collapse;
}
.table-compare table td {
  border: 1px solid #dfdfdf;
  text-align: center;
    padding: 10px 5px;
	min-width:210px;
}
.table-compare table td select{
	width: 100%;
	height: 30px;
}
.title-package{
	padding: 15px 30px;
}
.package-name {
  font-size: 30px;
}
.package-des{
	  font-size: 13px;
	    margin: 10px 0;
}
.package-des span.unit{
	  color: #929292;
}
.package_content:after {
  content: '';
  display: block;
  clear: both;
}
#plan-view .modal-dialog{
	  max-width: 980px;
	  width:auto;
}
#select-plan{
	width:100%;
}
.package_mobile {
  margin: 5px;
  border: 1px solid #dfdfdf;
}
.package_mobile .title-package {
  border-bottom: 1px solid #dfdfdf;
  background:#f1f1f1;
}
.package_mobile > div {
  padding: 10px;
}
.compare-feature > span {
  width: 100px;
  float: left;
}
.compare-feature {
  clear: both;
    overflow: hidden;
}
.compare-feature > div {
  margin-left: 100px;
}
.package_action a
{
  line-height: 20px;
  padding: 0 20px;
}
#center .subscription_upgrade h1{
	font-size:18px;
	font-weight:bold;
}
.current_pack_title{
	margin-top:20px;
	text-transform:uppercase;
}
.current_pack_name{
	margin:10px 0;
	font-size:24px;
	font-weight:bold;
}
.package_info {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  height: 40px;
  line-height: 38px;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  padding: 2px;
  margin-bottom:10px;
  display:flex;
}
.package_info > div {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  width: 100%;
    padding: 0 10px;
}
.package_info > div > span {
  display: inline-block;
  width: 80px;
}
.package_info > div + div {
  border-left: 1px solid #dfdfdf;
}
.package_action{
	float:right;
}
.subscription_upgrade .package_action .btn-default{
	background:#f3f3f3;
}
.package_mobile select{
	max-width:100%;
}
.gateway_content > div
{
	padding:5px;
}

@media screen and (max-width:767px){
	.compare-item{
		display:block;
		width:100%;
		height:auto!important;
	}
	.package_info{
		  display: block;
		  height: auto;
		  border: none;
	}
	.package_info div {
	  border: none!important;
	  padding: 0;
	}
}