<div class="title-modal">
    <?php echo __( 'Compare Subscription')?> 
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
</div>

<div class="modal-body">
    <?php echo $this->element('Subscription.compare');?>
</div>