<?php $this->setCurrentStyle(4);?>
<div class="bar-content photo_profile">
    <div class="content_center">
        <ul class="list4 albums" id="list-content">
        <?php echo $this->element('lists/albums_list'); ?>
        </ul>
        <div class="clear"></div>
    </div>
</div>